// Color Themes
// http://www.sankk.in/material-mixer/#
// https://www.materialpalette.com/

$color-primary-dark: #33691e;
$color-primary: #689f38;
$color-primary-light: #aed581;
$color-primary-text-dark: #212121;
$color-primary-text-light: #dcedc8;
$color-text: #212121;
$color-secondary-text: #727272;
$color-divider-color: #b6b6b6;
$color-window-background: #fff;
$color-accent: #aeea00;
$color-accent-fallback: #c6ff00;
